<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
  <div class="container-fluid p-0">
    <h2 class="text-center mt-0">{% t section.title %}</h2>
    <hr class="divider my-4">
    <div class="row no-gutters">
      {% for item in section.items %}
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="assets/img/culture/{{ item.icon }}" alt="{% t item.img_alt %}">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-75">
              {% t item.title %}
            </div>
            <div class="project-name">
              {% t item.text %}
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
